// animation: icono .5s ease;
// 
// 
// 
// 
// 
$color-primero: rgb(70, 70, 70);
$color-segundo: #F3F3F3;
$color-tercero: rgb(37, 67, 130);
$color-cuarto: rgb(217, 161, 56);
$color-quinto: rgb(235, 235, 235);
$color-seix: rgb(243, 243, 243);
// 
$color-footer: rgb(239, 243, 245);
$animacion-icono: icono .5s ease // animation: icono .5s ease;