    @import "./variables";
    footer {
        color: $color-segundo;
        background-color: $color-tercero;
        margin-top: 800px;
        .contac-home {
            background-color: $color-quinto;
            color: $color-primero;
            margin-left: 100px;
            margin-bottom: 30px;
            padding-bottom: 20px;
            border: 5px solid $color-cuarto;
            border-radius: 15px;
        }
        .empresa {
            margin-left: 50px;
            font-size: 15px;
        }
        a {
            text-decoration: none;
            color: $color-segundo;
        }
        .pago {
            text-align: left;
            h6 {
                font-size: 15px;
            }
        }
        .servicios {
            text-align: left;
            h6 {
                font-size: 15px;
            }
        }
    }
    
    .pie {
        background-color: $color-primero;
        height: 70px;
        color: $color-segundo;
        text-align: center;
        padding-top: 30px;
    }