        @import "./variables";
        header {
            background-color: $color-seix;
            padding: 0px;
        }
        
        .menuPrincipal {
            background-color: $color-tercero;
            height: 60px;
        }
        
        .contenedor-uno {
            background-color: $color-primero;
            p {
                font-size: 12px;
                color: $color-segundo;
                font-weight: 600;
            }
            a {
                color: $color-segundo;
                co {
                    color: $color-segundo;
                }
            }
            a:hover {
                color: $color-cuarto;
            }
            @media (max-width: 986px) {
                p {
                    text-align: center;
                    margin: -5%px;
                }
            }
        }
        
        .contenedor-dos {
            margin-top: 60px;
            div {
                a {
                    img {
                        width: 230px;
                    }
                }
            }
            .buscar {
                // margin-right: 100px;
                // width: 100%;
                input {
                    height: 48px;
                }
            }
            .lupa {
                background-color: $color-cuarto;
                width: 60px;
            }
            .lupa:hover {
                background-color: $color-tercero;
            }
            .lupaa {
                color: $color-segundo;
                font-weight: 900;
            }
            .conte-contac {
                .contenedor-contac {
                    display: flex;
                    .contac2 {
                        .btn-carrito {
                            font-size: 30px;
                            width: 60px;
                            height: 60px;
                            border-radius: 50px;
                            margin-right: 20px;
                            color: $color-segundo;
                            background-color: $color-tercero;
                            i {
                                height: 80px;
                            }
                        }
                    }
                    .btn-carrito:hover {
                        background-color: $color-cuarto;
                    }
                    .raya {
                        background-color: $color-primero;
                        height: 70px;
                    }
                    .contac2 {
                        margin-left: 20px;
                        margin-top: 15px;
                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: $color-primero;
                        }
                    }
                }
            }
            @media (max-width: 576px) {
                .conte-contac {
                    margin-right: 100pxx;
                }
                .imm {
                    text-align: center;
                }
            }
            @media (max-width: 100px) {
                .contac2 {
                    order: -2;
                }
            }
        }
        
        // barra de navegacion
        .navbar {
            background-color: $color-tercero;
            // background-color: rgb(4, 109, 206);
            .nav-colo {
                color: $color-segundo !important;
            }
            .eee {
                color: $color-cuarto !important;
            }
            .sub-lista {
                background-color: $color-quinto;
            }
            .nav-colo-dos {
                color: $color-primero;
            }
        }
        
        // ============== Ejemplo de imagen movimiento==========================
        .container-portada {
            width: 100%;
            height: 580px;
            position: relative;
            background-image: url(../Img/carrusel/5.jpg);
            background-size: 200%;
            animation: movimiento 20s infinite linear alternate;
        }
        
        .container-portadaa {
            width: 100%;
            height: 580px;
            position: relative;
            background-image: url(../Img/carrusel/8.jpg);
            background-size: 200%;
            animation: movimiento 20s infinite linear alternate;
        }
        
        .container-portadaaa {
            width: 100%;
            height: 580px;
            position: relative;
            background-image: url(../Img/carrusel/3.jpg);
            background-size: 200%;
            animation: movimiento 20s infinite linear alternate;
        }
        
        @keyframes movimiento {
            from {
                background-position: bottom left;
            }
            to {
                background-position: top right;
            }
        }
        
        .capa-gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            background: -webkit-linear-gradient(left, black, #0672d0);
            opacity: 0.5;
        }
        
        .container-details {
            width: 100%;
            max-width: 1200px;
            position: relative;
            margin: auto;
        }
        
        .details {
            width: 100%;
            max-width: 500px;
            position: relative;
            top: 80px;
            // margin-left: 650px;
            color: $color-segundo;
        }
        
        .rebajasuno {
            margin-left: 400px;
        }
        
        .rebajasdos {
            margin-left: 650px;
        }
        
        .descuentotres {
            margin-left: 650px !important;
        }
        
        .details h1 {
            font-size: 40px;
            font-weight: 100;
            margin-left: 10px;
            color: $color-segundo;
        }
        
        .details p {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 100;
            margin-left: 10px;
        }
        
        .details button {
            padding: 10px 20px;
            font-size: 16px;
            background: none;
            border-style: none;
            border: 1px solid $color-segundo;
            color: $color-segundo;
            margin-top: 20px;
            transition: background 300ms;
            cursor: pointer;
            margin-left: 10px;
        }
        
        .details button:hover {
            // background: $color-segundo;
            color: $color-primero;
            background-color: $color-cuarto;
        }
        
        @media screen and (max-width: 500px) {
            .details p {
                font-size: 18px;
            }
        }
        
        // =======================Fin codigo===============================
        .container-fluid {
            padding: 0px !important;
            padding-top: 0px;
            margin-top: 0px;
        }
        
        .carrufuentes {
            font-weight: 400 !important;
        }
        
        .eand {
            background: rgba(0, 0, 0, 0.50);
            padding-top: 10px !important;
            // color: $color-segundo !important;
            text-align: center;
            height: 80px;
            border-radius: 20px;
        }
        
        // 
        // 
        // 
        .eandd {
            background: rgba(0, 0, 0, 0.75);
            padding-top: 10px !important;
            // color: $color-segundo !important;
            text-align: center;
            height: 130px;
            border-radius: 20px;
        }
        
        .diejmassdimg {
            height: 150px;
            width: 15%;
        }